BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv0[3]" SITE "132" ;
LOCATE COMP "cdiv0[2]" SITE "133" ;
LOCATE COMP "outtransist0[0]" SITE "73" ;
LOCATE COMP "outtransist0[1]" SITE "74" ;
LOCATE COMP "outtransist0[2]" SITE "75" ;
LOCATE COMP "outtransist0[3]" SITE "76" ;
LOCATE COMP "out7seg0[0]" SITE "77" ;
LOCATE COMP "out7seg0[1]" SITE "78" ;
LOCATE COMP "out7seg0[2]" SITE "81" ;
LOCATE COMP "out7seg0[3]" SITE "82" ;
LOCATE COMP "out7seg0[4]" SITE "83" ;
LOCATE COMP "out7seg0[5]" SITE "84" ;
LOCATE COMP "out7seg0[6]" SITE "85" ;
LOCATE COMP "inkey0[2]" SITE "54" ;
LOCATE COMP "inkey0[3]" SITE "55" ;
LOCATE COMP "inkey0[1]" SITE "56" ;
LOCATE COMP "inkey0[0]" SITE "57" ;
LOCATE COMP "outr0[2]" SITE "58" ;
LOCATE COMP "outr0[3]" SITE "59" ;
LOCATE COMP "outr0[1]" SITE "60" ;
LOCATE COMP "outr0[0]" SITE "61" ;
LOCATE COMP "cdiv0[5]" SITE "21" ;
LOCATE COMP "cdiv0[4]" SITE "22" ;
LOCATE COMP "cdiv0[0]" SITE "23" ;
LOCATE COMP "cdiv0[1]" SITE "24" ;
LOCATE COMP "op0[3]" SITE "1" ;
LOCATE COMP "op0[2]" SITE "2" ;
LOCATE COMP "op0[1]" SITE "3" ;
LOCATE COMP "op0[0]" SITE "4" ;
LOCATE COMP "reset0" SITE "5" ;
LOCATE COMP "enable0" SITE "6" ;
LOCATE COMP "out320[0]" SITE "38" ;
LOCATE COMP "out320[1]" SITE "40" ;
LOCATE COMP "out320[2]" SITE "107" ;
LOCATE COMP "out320[3]" SITE "106" ;
LOCATE COMP "out320[4]" SITE "105" ;
