BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "outcoder0[0]" SITE "85" ;
LOCATE COMP "outcoder0[1]" SITE "84" ;
LOCATE COMP "outcoder0[2]" SITE "83" ;
LOCATE COMP "outcoder0[3]" SITE "82" ;
LOCATE COMP "outcoder0[4]" SITE "81" ;
LOCATE COMP "outcoder0[5]" SITE "78" ;
LOCATE COMP "outcoder0[6]" SITE "77" ;
LOCATE COMP "outtransist0[0]" SITE "76" ;
LOCATE COMP "outtransist0[1]" SITE "75" ;
LOCATE COMP "outtransist0[2]" SITE "74" ;
LOCATE COMP "outtransist0[3]" SITE "73" ;
LOCATE COMP "outr0[3]" SITE "61" ;
LOCATE COMP "outr0[2]" SITE "60" ;
LOCATE COMP "outr0[1]" SITE "58" ;
LOCATE COMP "outr0[0]" SITE "59" ;
LOCATE COMP "inkey0[0]" SITE "57" ;
LOCATE COMP "inkey0[1]" SITE "56" ;
LOCATE COMP "inkey0[2]" SITE "54" ;
LOCATE COMP "inkey0[3]" SITE "55" ;
LOCATE COMP "en0" SITE "26" ;
LOCATE COMP "clk0" SITE "99" ;
LOCATE COMP "cdiv0[4]" SITE "22" ;
LOCATE COMP "cdiv0[3]" SITE "132" ;
LOCATE COMP "cdiv0[2]" SITE "133" ;
LOCATE COMP "cdiv0[1]" SITE "24" ;
LOCATE COMP "cdiv0[0]" SITE "23" ;
