BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "cdiv0[5]" SITE "9" ;
LOCATE COMP "cdiv0[4]" SITE "10" ;
LOCATE COMP "cdiv0[3]" SITE "11" ;
LOCATE COMP "cdiv0[2]" SITE "12" ;
LOCATE COMP "cdiv0[1]" SITE "13" ;
LOCATE COMP "cdiv0[0]" SITE "14" ;
LOCATE COMP "clk0" SITE "61" ;
LOCATE COMP "inport8a0[7]" SITE "19" ;
LOCATE COMP "inport8a0[6]" SITE "20" ;
LOCATE COMP "inport8a0[5]" SITE "21" ;
LOCATE COMP "inport8a0[4]" SITE "22" ;
LOCATE COMP "inport8a0[3]" SITE "132" ;
LOCATE COMP "inport8a0[2]" SITE "133" ;
LOCATE COMP "inport8a0[1]" SITE "24" ;
LOCATE COMP "inport8a0[0]" SITE "23" ;
LOCATE COMP "inport8b0[7]" SITE "26" ;
LOCATE COMP "inport8b0[6]" SITE "25" ;
LOCATE COMP "inport8b0[5]" SITE "28" ;
LOCATE COMP "inport8b0[4]" SITE "27" ;
LOCATE COMP "inport8b0[3]" SITE "33" ;
LOCATE COMP "inport8b0[2]" SITE "32" ;
LOCATE COMP "inport8b0[1]" SITE "35" ;
LOCATE COMP "inport8b0[0]" SITE "34" ;
LOCATE COMP "SL" SITE "4" ;
LOCATE COMP "EN" SITE "3" ;
LOCATE COMP "outLED0" SITE "58" ;
LOCATE COMP "outDisplay[6]" SITE "77" ;
LOCATE COMP "outDisplay[5]" SITE "78" ;
LOCATE COMP "outDisplay[4]" SITE "81" ;
LOCATE COMP "outDisplay[3]" SITE "82" ;
LOCATE COMP "outDisplay[2]" SITE "83" ;
LOCATE COMP "outDisplay[1]" SITE "84" ;
LOCATE COMP "outDisplay[0]" SITE "85" ;
LOCATE COMP "outTransist0[3]" SITE "73" ;
LOCATE COMP "outTransist0[2]" SITE "74" ;
LOCATE COMP "outTransist0[1]" SITE "75" ;
LOCATE COMP "outTransist0[0]" SITE "76" ;
LOCATE COMP "outcodeport[3]" SITE "106" ;
LOCATE COMP "outcodeport[2]" SITE "107" ;
LOCATE COMP "outcodeport[1]" SITE "40" ;
LOCATE COMP "outcodeport[0]" SITE "38" ;
LOCATE COMP "outpcport[3]" SITE "99" ;
LOCATE COMP "outpcport[2]" SITE "100" ;
LOCATE COMP "outpcport[1]" SITE "104" ;
LOCATE COMP "outpcport[0]" SITE "105" ;
LOCATE COMP "outport120[11]" SITE "55" ;
LOCATE COMP "outport120[10]" SITE "52" ;
LOCATE COMP "outport120[9]" SITE "50" ;
LOCATE COMP "outport120[8]" SITE "48" ;
LOCATE COMP "outport120[7]" SITE "49" ;
LOCATE COMP "outport120[6]" SITE "47" ;
LOCATE COMP "outport120[5]" SITE "45" ;
LOCATE COMP "outport120[4]" SITE "43" ;
LOCATE COMP "outport120[3]" SITE "42" ;
LOCATE COMP "outport120[2]" SITE "44" ;
LOCATE COMP "outport120[1]" SITE "39" ;
LOCATE COMP "outport120[0]" SITE "41" ;
LOCATE COMP "outport8a0[7]" SITE "91" ;
LOCATE COMP "outport8a0[6]" SITE "92" ;
LOCATE COMP "outport8a0[5]" SITE "93" ;
LOCATE COMP "outport8a0[4]" SITE "94" ;
LOCATE COMP "outport8a0[3]" SITE "96" ;
LOCATE COMP "outport8a0[2]" SITE "95" ;
LOCATE COMP "outport8a0[1]" SITE "98" ;
LOCATE COMP "outport8a0[0]" SITE "97" ;
LOCATE COMP "reset0" SITE "2" ;
LOCATE COMP "reset1" SITE "1" ;
LOCATE COMP "sFlag12B" SITE "54" ;
LOCATE COMP "sFlag12out" SITE "56" ;
LOCATE COMP "sFlag8out" SITE "57" ;
LOCATE COMP "sFlagInst" SITE "59" ;
LOCATE COMP "sclk0" SITE "60" ;
LOCATE COMP "soutFlagIt" SITE "113" ;
LOCATE COMP "soutFlagpc" SITE "117" ;
LOCATE COMP "soutFlagrom" SITE "115" ;
